img.activator { width: 100%; height: 300px; border: none; }

.card-title{
  font-size: larger;
 }

.card-content {
  height: 140px;
}

.hovered{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  transition: 200ms all;
  z-index: 10;
}
