.nav_div {
  margin-bottom: 100px;
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;


    .brand-logo {
      margin-left: 1%;
    }

  }
}

.nav_div {
}
